<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/proyectoFinal/images/logo.jpg" type="image/x-icon">
    <title>Fory Factory | Checkout</title>
    <script src="https://kit.fontawesome.com/29724e3467.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/proyectoFinal/resources/css/components.css" type="text/css">
    <link rel="stylesheet" href="/proyectoFinal/resources/css/pages/products/checkout.css">
    <link rel="stylesheet" href="../../../resources/css/parts/nav.css" type="text/css">
    <link rel="stylesheet" href="../../../resources/css/parts/footer.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header></header>

    <main>
        <div class="containerMain">
            <h1>Checkout</h1>
            <div class="Address">
                <div class="headerAddress">
                    <h3><i class="fa-solid fa-location-dot"></i>Dirección entrega</h3>
                    <p>Selecciona donde quieres recibir tu pedido</p>
                </div>
                <div class="contentAddress" id="contentAddress">

                </div>
            </div>
            <div class="paymentMethod">

            </div>
        </div> 
        <div class="containerAside"></div>
    </main>
    <footer></footer>
    <script src="/proyectoFinal/resources/js/main.js"></script>
    <script src="/proyectoFinal/resources/js/cart.js"></script>
    <script src="/proyectoFinal/resources/js/products/checkout.js"></script>
</body>
</html>