<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/uploads/logo/logo.jpg" type="image/x-icon">
    <title>Fory Factory | Checkout</title>
    <script src="https://kit.fontawesome.com/29724e3467.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/resources/css/components.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/pages/products/checkout.css">
    <link rel="stylesheet" href="/resources/css/parts/nav.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/parts/footer.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header></header>

    <main>
        <div class="containerMain">
            <h1>Checkout</h1>

            <div class="deliveryMethod">
                <div class="header">
                    <h3><i class="fa-solid fa-truck-fast"></i>Retirar o Envío</h3>
                    <p>Selecciona cómo quieres recibir tu pedido</p>
                </div>
                <div class="content" id="contentDelivery">
                    <div class="option delivery" id="containerDelivery1">
                        <input type="radio" id="retiro" name="deliveryMethod" value="retiro">
                        <label for="retiro" class="addressLabel">
                            <h4><i class="fa-solid fa-store"></i>Retiro en local</h4>
                            <p>Retirá tu pedido en nuestra tienda física</p>
                        </label>
                    </div>
                    
                    <div class="option delivery" id="containerDelivery2">
                        <input type="radio" id="envio" name="deliveryMethod" value="envio">
                        <label for="envio" class="addressLabel">
                            <h4><i class="fa-solid fa-truck"></i>Envío a domicilio</h4>
                            <p>Recibe tu pedido en la dirección que elijas</p>
                        </label>
                    </div>
                </div>

            </div>
            <div class="Address" style="display: none;">
                <div class="header">
                    <h3><i class="fa-solid fa-location-dot"></i>Dirección entrega</h3>
                    <p>Selecciona donde quieres recibir tu pedido</p>
                </div>
                <div class="content" id="contentAddress">
                </div>
                <div class="addAddress">
                    <button type="button" class="admDireciones">Administrar direcciones</button>
                </div>
            </div>


            <div class="paymentMethod">
                <div class="header">
                    <h3><i class="fa-solid fa-money-check-dollar"></i>Método de pago</h3>
                    <p>Elige cómo prefieres pagar</p>
                </div>

                <div class="content" id="contentPayment">

                    <div class="option method" id="containerPayment1">
                        <input type="radio" id="efectivo" name="paymentMethod" value="efectivo">
                        <label for="efectivo" class="addressLabel">
                            <h4><i class="fa-solid fa-money-bill-1-wave"></i>Efectivo</h4>
                            <p>Paga al recibir tu pedido</p>
                        </label>
                    </div>
                    
                    <div class="option method" id="containerPayment2">
                        <input type="radio" id="tarjeta" name="paymentMethod" value="tarjeta">
                        <label for="tarjeta" class="addressLabel">
                            <h4><i class="fa-solid fa-credit-card"></i>Crédito/Débito</h4>
                            <p>Visa, Mastercard, OCA</p>
                        </label>
                    </div>
                    
                    <div class="option method" id="containerPayment3">
                        <input type="radio" id="transferencia" name="paymentMethod" value="transferencia">
                        <label for="transferencia" class="addressLabel">
                            <h4><i class="fa-solid fa-building-columns"></i>Transferencia</h4>
                            <p>BROU, Santander, Itaú</p>
                        </label>
                    </div>

                </div>
            </div>
        </div> 
        <div class="containerAside">
            <div class="summary">
                <div class="headerSummary">
                    <h2>Resumen del pedido</h2>
                </div>
                <div class="contentSummary"></div>
            </div>
            <div class="footerSummary"></div>
        </div>
    </main>
    <footer></footer>
    <script src="/resources/js/main.js"></script>
    <script src="/resources/js/cart.js"></script>
    <script src="/resources/js/products/checkout.js"></script>
</body>
</html>