<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/uploads/logo/logo.jpg" type="image/x-icon">
<title>Fory Factory | Productos</title>
<script src="https://kit.fontawesome.com/29724e3467.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/resources/css/components.css" type="text/css">
<link rel="stylesheet" href="/resources/css/pages/products/indexProducts.css">
<link rel="stylesheet" href="/resources/css/parts/nav.css" type="text/css">
<link rel="stylesheet" href="/resources/css/parts/footer.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header class="header">
    </header>
    <hr class="navbar-divisor">

    <div class="sidebar">
        <a href="#beef-page">Hamburguesas de carne</a>
        <a href="#vegetarian-page">Hamburguesas vegetarianas</a>
        <a href="#vegan-page">Hamburguesas veganas</a>
        <a href="#accompaniment-page">Acompañamientos</a>
        <a href="#drink-page">Bebidas</a>
        <a href="#dessert-page">Postres</a>
        <a href="#combo-page">Combos</a>
    </div>

    <div class="main-content">
        <!-- Secciones vacías, JS las llenará -->
        <div id="beef-page" class="section">
            <h2>Hamburguesas de carne</h2>
            <div class="products-grid"></div>
        </div>

        <div id="vegetarian-page" class="section">
            <h2>Hamburguesas vegetarianas</h2>
            <div class="products-grid"></div>
        </div>

        <div id="vegan-page" class="section">
            <h2>Hamburguesas veganas</h2>
            <div class="products-grid"></div>
        </div>

        <div id="accompaniment-page" class="section">
            <h2>Acompañamientos</h2>
            <div class="products-grid"></div>
        </div>

        <div id="drink-page" class="section">
            <h2>Bebidas</h2>
            <div class="products-grid"></div>
        </div>

        <div id="dessert-page" class="section">
            <h2>Postres</h2>
            <div class="products-grid"></div>
        </div>

        <div id="combo-page" class="section">
            <h2>Combos</h2>
            <div class="products-grid"></div>
        </div>
    </div>

    <footer class="footer">
    </footer>
    <script src="/resources/js/main.js"></script>
    <script src="/resources/js/cart.js"></script>
    <script src="/resources/js/products/indexProducts.js"></script>
</body>
</html>
