/* NAV */ 
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px; /*Le agrega padding de 15 a todos los componentes*/
    width: 100vw;
    height: 80px;
    position:fixed;
    background-color: white;
    z-index:1;
    box-sizing:content-box;
}
.navbar-content{
    display: flex;
    align-items: center; /* Alinea el texto abajo respecto al logo */
}
.navbar-logo{
    width:60px;
    height: 60px;
    
}
.navbar-title{
    color:#17821B;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
    padding-left:10px;
    text-align: end;
    text-decoration: underline solid #17821B 3px ;
}

.navbar-divisor{
    color: gray;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: 'Raleway', sans-serif;
    list-style-type: none; /*Sacar puntos de la lista ordenada*/
}
.navbar-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5;
}

.navbar-buttons{
    display: flex;
    gap: 15px;
    align-items: center;
    right: 0px;
    cursor: pointer;
    padding-right: 20px;

}
#navbar-btn-register{
    padding: 10px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-decoration:none;
    
}
#navbar-btn-login{
    padding: 4px 10px;
    color: #17821B;
    border: none;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border:1px solid #17821B;
    border-radius: 20px;
    text-decoration:none;
}
#navbar-btn-login:hover{
    background-color:#17821B;
    color:white;
}
.navbar-buttons-logged{
    display: none;
    gap:50px;
    align-items: center;
    right: 0px;
    cursor: pointer;
    padding-right: 20px;
    cursor:auto;
    text-decoration: none;
}

.profile-logged{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 20px;
}
.icon-nav-logged{
    color: black;
}
#icon-profile-nav{
    cursor: pointer;
}

#photo-profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#dropdownMenu{
    display:none;
    width: 250px;
    height: 400px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    right: 50px;
    border-radius: 20px;
}
#dropdownMenu-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    height: 100%;
    text-align: center;
    gap: 20px;

}
#dropdownMenu-list a{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;

}
#li-profile {
    display: flex;
    align-items: center; /* Centra verticalmente */
    gap: 10px;
    padding: 10px 15px;
    background-color: #eaeaea;
    border-top: 1px solid #eaeaea;
    border-radius: 20px 20px 0px 0px;
}
#li-profile hr{
    border: 0px;
}
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 20px; /* Bordes más suaves */
}

.dropdown-item:hover {
    background-color: #17821B;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.dropdown-item a {
    color: black;
    text-decoration: none;
    flex: 1;
    transition: color 0.3s ease;
}

.dropdown-item i {
    font-size: 16px;
    color: black;
    transition: color 0.3s ease;
}

.dropdown-item:hover a,
.dropdown-item:hover i {
    color: white;
}

.options-profile {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
    gap: 20px;
}

.options-profile-logout, .options-profile-logout i{
    color: red !important; 
    text-align: left;

}

#photo-profile-img-li {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
}

.username {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.email {
    font-size: 12px;
    color: #666;
}


.navbar-dropdown, .dropdown-icon{display: none;}
@media (max-width: 1366px) {
    .navbar-buttons{
        padding-right:40px;
    }
    #navbar-btn-register{
    padding: 10px 20px;
}

.footer-divisor{
    margin-top: 40px;
}


}

@media screen and (max-width: 950px) {
  /* Estilos para móviles */
.navbar-menu{display: none;}
.navbar-dropdown{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
    padding: 5px 10px;
    padding-right: 40px;
}
.navbar-botom-arrow{
    display: flex;
    margin-right: 1px;
    height: 20px;
    width: 20px;
    color:white;
}
.navbar-title{display: none;}
.navbar-buttons{display: flex;}
.dropdown-icon{display: flex;}
.page1-image{width: 100%;}
}

