/* NAV */ 
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px; /*Le agrega padding de 15 a todos los componentes*/
    width: 100%;
    height: 90px;
    position:fixed;
    background-color: white;
    z-index:1;
}
.navbar-content{
    display: flex;
    align-items: center; /* Alinea el texto abajo respecto al logo */
}
.navbar-logo{
    width:60px;
    height: 60px;
    
}
.navbar-title{
    color:#17821B;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
    padding-left:10px;
    text-align: end;
    text-decoration: underline solid #17821B 3px ;
}

.navbar-divisor{
    color: gray;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: 'Raleway', sans-serif;
    list-style-type: none; /*Sacar puntos de la lista ordenada*/
}
.navbar-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5;
}

.navbar-buttons{
    display: flex;
    gap: 15px;
    align-items: center;
    right: 0px;
    cursor: pointer;
    padding-right: 20px;
}
#navbar-btn-register{
    padding: 10px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    cursor: pointer;
    
}
#navbar-btn-login{
    padding: 4px 10px;
    color: #17821B;
    border: none;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border:1px solid #17821B;
    border-radius: 20px;
}
#navbar-btn-login:hover{
    background-color:#17821B;
    color:white;
}


.navbar-dropdown, .dropdown-icon{display: none;}
@media (max-width: 1366px) {
    .navbar-buttons{
        padding-right:40px;
    }
    #navbar-btn-register{
    padding: 10px 20px;
}

.footer-divisor{
    margin-top: 40px;
}


}

@media screen and (max-width: 950px) {
  /* Estilos para móviles */
.navbar-menu{display: none;}
.navbar-dropdown{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
    padding: 5px 10px;
    padding-right: 40px;
}
.navbar-botom-arrow{
    display: flex;
    margin-right: 1px;
    height: 20px;
    width: 20px;
    color:white;
}
.navbar-title{display: none;}
.navbar-buttons{display: none;}
.dropdown-icon{display: flex;}
.page1-image{width: 100%;}
}