<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/proyectoFinal/images/logo.jpg" type="image/x-icon">
<title>Fory Factory | Reservas</title>
<script src="https://kit.fontawesome.com/29724e3467.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/proyectoFinal/resources/css/components.css" type="text/css">
<link rel="stylesheet" href="/proyectoFinal/resources/css/pages/Reservation/reservation.css">
<link rel="stylesheet" href="../../../resources/css/parts/nav.css" type="text/css">
<link rel="stylesheet" href="../../../resources/css/parts/footer.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header></header>

    <main>
        <div class="containerForm">
            <div class="formContent">
                <div class="formHeader">
                    <h5><i class="fa-regular fa-calendar"></i>Nueva Reserva</h5>
                    <p>Reserva tu mesa en nuestro restaurante</p>

                </div>

            </div>

        </div>
        <div class="containerReservations">
            <div class="reservationContent"></div>

        </div>
        
    </main>

    <footer></footer>
    <script src="/proyectoFinal/resources/js/main.js"></script>
    <script src="/proyectoFinal/resources/js/Reservation/reservation.js"></script>
</body>
</html>