<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/uploads/logo/logo.jpg" type="image/x-icon">
<title>Fory Factory | Reservas</title>
<script src="https://kit.fontawesome.com/29724e3467.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/resources/css/components.css" type="text/css">
<link rel="stylesheet" href="/resources/css/pages/Reservation/reservation.css">
<link rel="stylesheet" href="/resources/css/parts/nav.css" type="text/css">
<link rel="stylesheet" href="/resources/css/parts/footer.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header></header>

    <main>
        <div class="containerForm">
            <div class="formContent">
                <div class="formHeader">
                    <h5><i class="fa-regular fa-calendar"></i>Nueva Reserva</h5>
                    <p>Reserva tu mesa en nuestro restaurante</p>
                </div>
                <form class="form" action="/app/Functions/reservations/addReservation.php" method="POST">
                    <div class="formContainer">
                        <label for="date"><i class="fa-regular fa-calendar"></i>Fecha *</label>
                        <div class="inputContainer">
                            <input type="date" name="date" id="date" min="" placeholder="Selecciona una fecha" required>
                        </div>
                    </div>

                    <div class="formContainer">
                        <label for="time"><i class="fa-regular fa-calendar"></i>Hora *</label>
                        <div class="inputContainer">
                            <select name="time" id="time" required>
                                <option value="default">Selecciona una hora *</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="formContainer" id="numberPeopleContainer">
                        <label><i class="fa-solid fa-users"></i>Número de personas</label>
                        <div class="inputContainer">
                            <select name="numberPeople" id="numberPeople">
                                <option value="default" class="default">Seleccionar cantidad</option>
                                <option value="1" class="">1 persona</option>
                                <option value="2" class="">2 persona</option>
                                <option value="3" class="">3 persona</option>
                                <option value="4" class="">4 persona</option>
                                <option value="5" class="">5 persona</option>
                                <option value="6" class="">6 persona</option>
                                <option value="7" class="">7 persona</option>
                                <option value="8" class="">8 persona</option>
                            </select>
                        </div>
                    </div>

                    <div class="formContainer" id="tableAvailabilityContainer">
                        <div class="inputContainer">
                            <label>Disponibilidad de Mesas</label>
                            <div class="tableAvailability">
                                <div id="mesaContainer">
                                   <div class="mesaDefaultMessage">
                                    <svg  id="alertaNoMesas" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m12.002 21.534c5.518 0 9.998-4.48 9.998-9.998s-4.48-9.997-9.998-9.997c-5.517 0-9.997 4.479-9.997 9.997s4.48 9.998 9.997 9.998zm0-1.5c-4.69
                                         0-8.497-3.808-8.497-8.498s3.807-8.497 8.497-8.497 8.498 3.807 8.498 8.497-3.808 8.498-8.498 8.498zm0-6.5c-.414 
                                         0-.75-.336-.75-.75v-5.5c0-.414.336-.75.75-.75s.75.336.75.75v5.5c0 .414-.336.75-.75.75zm-.002 3c.552 0 1-.448 1-1s-.448-1-1-1-1 .448-1 1 .448 1 1 1z" 
                                         fill-rule="nonzero"/>
                                    </svg>
                                    <h3>Seleccione la fecha y el horario para poder visualizar las mesas disponibles</h3>
                                    </div>
                                </div>
                                <input type="hidden" name="mesa" id="selectedMesa">

                                
                            </div>
                            <div class="tableFooter"></div>

                        </div>
                    </div>

                    <div class="formContainer formColumn" >
                        <label for="name"><i class="fa-regular fa-user"></i>Nombre completo *</label>
                        <div class="inputContainer">
                            <input type="text" name="name" id="name" placeholder="Tu nombre" required>
                        </div>
                    </div>

                    <div class="formContainer formColumn" >
                        <label for="phone"><i class="fa-solid fa-phone"></i>Teléfono *</label>
                        <div class="inputContainer">
                            <input type="text" name="phone" id="name" placeholder="+598 99 999 999" required>
                        </div>
                    </div>

                    <div class="formContainer formColumn" >
                        <label for="email"><i class="fa-regular fa-envelope"></i>Email *</label>
                        <div class="inputContainer">
                            <input type="email" id="email" name="email" placeholder="example@gmail.com" required>
                        </div>
                    </div>

                    <div class="formContainer formColumn" >
                        <label for="notes"><i class="fa-regular fa-note-sticky"></i>Notas especiales (opcional)</label>
                        <div class="inputContainer">
                            <textarea name="notes" id="notes" placeholder="Alergias, preferencias de mesa, celebraciones..."></textarea>
                        </div>
                    </div>

                    <div class="formContainer formColumn">
                        <button type="submit" class="formSubmit">Confirmar Reserva</button>
                    </div>
                </form>
            <div class="information">
                <h3>Información importante</h3>
                <ul>
                    <li>Las reservas deben confirmarse con al menos 2 horas de anticipación</li>
                    <li>Te contactaremos para confirmar tu reserva</li>
                    <li>Tiempo de gracia: 15 minutos después de la hora reservada</li>
                    <li>Para grupos de más de 8 personas, contacta directamente al restaurante</li>
                    <li>En caso de no presentarse en el horario acordado, la reserva será cancelada automáticamente.</li>
                    <li>Si tiene alguna solicitud especial, no dude en informarnos al momento de hacer su reserva.</li>
                </ul>
            </div>
            </div>
        </div>
    </main>


    <footer></footer>
    <script src="/resources/js/main.js"></script>
    <script src="/resources/js/Reservation/reservation.js"></script>
    <script src="/resources/js/cart.js"></script>
</body>
</html>