
/*CONTENEDOR PADRE*/
.pedidos{
    width: 100px;
    height: 100px;
    background-color: white;
    width: 62.5rem;
    max-width: 62.5em;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    height: auto;
    min-height: 10rem;
    font-family: Sans-serif, 'Raleway';
    padding: 20px 20px;
}
/*CONTENEDOR ENCABEZADO*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    max-width: 100%;
    
}

/*Header de productos*/
.headerInfo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.statusOrder{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: var(--font-small);
    color: white;
    background: red;
}

/*CONTENEDOR CONTENIDO*/
.content{
    height: 50%;
}

/*Titulo order*/
.productInfo span{
    display:flex;
    gap:10px;
    font-size: 20px;
    align-items: center;
    font-family: 'Sans serif', 'Raleway';
}
.productInfo p{
    color: var(--textMuted);
    margin-left: 5px;
}

/*Icono*/
.productStatus{
    color: var(--primary-color);
    align-content: center;

}
.statusOrder.pendiente{
    font-size: var(--font-mediumSmall);
}

.headerPrice span{
    font-weight: bold;
  font-size: var(--font-large);
  color: #149c19c2;
}
hr{
    margin: 5px 10px;
    color: var(--borderColor);
}

.content span{
    color: var(--textMuted);
    font-weight: bold;
    margin: 5px 5px;
}