/* COLORES */
.primary-color{color: #17821B;}
.primary-color-hover{color: #004613;}

/* BOTONES */
.boton-primario {
background-color: #17821B;
color: white;
border-radius: 20px;
border: 1px solid #17821B;
font-family: 'Raleway', sans-serif;
}
.boton-primario:hover {
background-color: #004613;
border: 1px solid #004613;
transition: background-color 0.3s ease;
}
.boton-secundario {
background-color: transparent;
color: white;
border-width: 2px;
border-style: solid;
border-color: white;
border-radius: 20px;
font-family: 'Raleway', sans-serif;
}
.boton-secundario:hover {
background-color: #17821B; /* Tailwind color "primary" */
color: white;
border-color: #17821B;     /* Tailwind color "primary" */
border-radius: 20px;
font-family: 'Raleway', sans-serif;
transition: background-color 0.3s ease;
}
/* Estilos para ocultar la barra de desplazamiento */
.scrollbar-hide {
    /* Para navegadores webkit (Chrome, Safari, Edge) */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari y Chrome */
    width: 0;
    background: transparent;
    scroll-behavior: smooth;
}
.scrollbar-show {
    -ms-overflow-style: auto;   /* IE y Edge */
    scrollbar-width: auto;      /* Firefox */
    overflow: auto;
}
.scrollbar-show::-webkit-scrollbar {
    display: block;             /* Chrome, Safari y Opera */
    width: initial;
    background: initial;
}