/* COLORES */
.primary-color{color: #17821B;}
.primary-color-hover{color: #004613;}

/* BOTONES */
.boton-primario {
background-color: #17821B;
color: white;
border-radius: 20px;
border: 1px solid #17821B;
font-family: 'Raleway', sans-serif;
}
.boton-primario:hover {
background-color: #004613;
border: 1px solid #004613;
transition: background-color 0.3s ease;
}
.boton-secundario {
background-color: transparent;
color: white;
border-width: 2px;
border-style: solid;
border-color: white;
border-radius: 20px;
font-family: 'Raleway', sans-serif;
}
.boton-secundario:hover {
background-color: #17821B; /* Tailwind color "primary" */
color: white;
border-color: #17821B;     /* Tailwind color "primary" */
border-radius: 20px;
font-family: 'Raleway', sans-serif;
transition: background-color 0.3s ease;
}
.closeBtn{
    font-size: 1.8rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    align-items: flex-end;
    float: right;
    border: none;
    background: transparent;
    width:max-content;
}
.closeBtn:hover{
    color: red;
}
/* Estilos para esconder el scroll */
.scrollbar-hide {
    /* Para navegadores webkit (Chrome, Safari, Edge) */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari y Chrome */
    width: 0;
    background: transparent;
    scroll-behavior: smooth;
}
.scrollbar-show {
    -ms-overflow-style: auto;   /* IE y Edge */
    scrollbar-width: auto;      /* Firefox */
    overflow: auto;
}
.scrollbar-show::-webkit-scrollbar {
    display: block;             /* Chrome, Safari y Opera */
    width: initial;
    background: initial;
}

/*--BADGE PROMOCIÓN DEL PRODUCTO*/
  .badge-promocion{
    border-radius: 20px;
    padding: 2px 10px;
    font-size: var(--font-mediumSmall);
    background-color: var(--primary-color);
    color: white;
  }
  /*--CARRITO LATERAL*/
.agregarCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease; 

}
.agregarCarrito:hover{
    background: #006400; 
    color: white; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
/*=========================*/
/*= CONTENIDO DEL CARRITO =*/
/*=========================*/


/* CARRITO ITEMS */
.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/* Contenedor de la imagen para poder poner el badge */
.cart-item-img-container {
    position: relative; /* Para que el badge se posicione relativo a este contenedor */
    width: 80px;
    height: 80px;
}

.cart-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Badge de promoción */
.cart-item-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #28a745; /* verde para tu tema */
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
}

.cart-item-info {
    flex: 1;
}

.remove-from-cart {
    background: #ff4d4f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-from-cart:hover {
    background: #d9363e;
}

/*CARRITO FOOTER*/
.cart-footer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*Total*/
.cart-footer span{
  font-size: var(--font-large);
    display: flex;
    justify-content: space-between;
}
/*Total número*/
#cart-total{
  color: #16a34a;
  font-weight: bold;
}
#checkout-btn{
    padding: 15px 10px;
    background-color: #16a34a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: var(--font-medium);
    cursor: pointer;
    transition: all 0.3s ease; 
}
#checkout-btn:hover{
  background-color: #006400;
}

/*CARRITO VACÍO*/
.container-cart-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    color: #c3c9cf;
    text-align: center;
}
.icon-cart-empty{
  width: 100px;
  height: 100px;
}
.cart-empty-title{
  font-size: var(--font-large);
}

/*===================TAMAÑO FUENTES========================*/
:root {
    --font-small: 12px;
    --font-mediumSmall: 14px;
    --font-medium: 16px;
    --font-large: 24px;
    --font-title: 2rem;

    --primary-color: #17821B;
    --primary-color-hover:#146e17;
    --borderColor: #e2e8f0;
    --subtitleColor: #969696;
    --textMuted: #64748b;

    --background-primary:#166945;
    --background-primary-hover:#125437;
}