
/*PC*/
@media screen and (min-width: 1200px) and (max-width: 1920px) {
.page1-title{font-size: 85px;}
.page1-description{width: 800px;}
.page1-description{font-size:30px ;}
#page1-btn-menu, #page1-btn-reservar{padding: 10px 30px;font-size: 20px;cursor: pointer;}
.page1-animated-arrow{width: 50px; height: 50px;}
.page2-product1-title, .page2-product2-title, .page2-product3-title, .page2-product4-title {font-size: 25px;}
.page2-product1-button, .page2-product2-button, .page2-product3-button{margin-bottom: 60px;}
.page2-container-button{margin-bottom: 10px;}
.page3-map{height: 70%; width: 60%; padding: 0px; margin-top: 20px;} 
.page3-location-title{font-size: 20px;}
.footer-divisor{margin-top: 30  px;}

}

/* Tablet horizontal */
@media (max-width: 992px) {
.page1-title{font-size:70px;}
}

/* Tablet vertical */
@media (max-width: 768px) {
.page1-title{font-size:55px;}
.page1-description{width: 734px;}
.page2-title{font-size: 70px;}
.page2-products{flex: wrap;}
}

/* Móvil */
@media (max-width: 480px) {}