* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(218, 218, 218);
}

.container-register {
    display: flex;
    height: 100vh;
}

.register-background {
    width: 60%;
}

.register-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color:white ;
    padding-top: 90px;
    flex-direction: column;
}

.form-container-title {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.form-title {
    font-family: 'Rasa', serif;
    font-size: 4.5rem;
    font-weight: 500;
    color:rgb(23, 130, 27);
}

.form-description {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1rem;
}

.form-divisor {
    margin-top:1em;
    margin-bottom: 10px;
    border: none;
    height: 1px;
    width: 80%;
    margin-left: 75px;
    background-color:#e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container-description{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
}
.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top:50px;

}

.form-container label, .form-container input{
    width: 45%;
    height: 2rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 25%;
}
.form-container label{
    font-size: 18px;
    height: 22px;
    box-sizing: border-box;
}

.form-container input{
    padding: 19px 5px;
    margin-bottom: 15px;
    border:1px solid grey;
    background-color: rgb(249, 250, 251);
    color: black;
    border-radius: .5rem;
    font-family: 'Montserrat', sans-serif;

}
.form-container input:hover, .form-container input:active, .form-container input:focus{
    border: 1px solid #17821B;
    outline: 1px solid #17821B;
}

.form-btn-submit{
    width: 45%;
    height: 2rem;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 25%;
    font-family: 'Raleway' sans-serif;
    font-size: 20px;
    border: 1px solid #17821B;
    background-color: #17821B;
    text-align: center;
    border-radius: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;

}
.no-register{
    padding-top: 20px; 
    padding-left: 35px; 
    font-family: 'Raleway', sans-serif; 
    font-style: normal;
    width: 100%;

}
.no-register-a{
    width: 100%;
}
.no-register-a:active, .no-register-a:visited, .no-register-a:focus{
    text-decoration: none;
    color: blue;
}

/*------------------------------------- LOGIN --------------------------------------------*/
/* #alert{
background-color: #4CAF50 !important;
color: white;
width: 100%;
height: 15%;
}
#alert h3{
    padding-top: 30px;
} */

.form-container-login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom:400px;
    padding-top: 100px;
    align-items: center;
    justify-content: center;

}
.form-container-login label{

    width: 100%;
    
}
.input-forms-login{
    width: 45%;
    height: 2rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 19px 5px;
    border:1px solid grey;
    background-color: rgb(249, 250, 251);
    color: black;
    border-radius: .5rem;
    font-family: 'Montserrat', sans-serif;
}

#label_password{
    margin-top: 20px;
}

.form-login {
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color:white ;
    padding-top: 12rem;
    flex-direction: column;
}

.form-btn-submit-login{
    width: 45%;
    height: 2rem;
    padding: 10px 10px;
    margin-top: 20px;
    font-family: 'Raleway' sans-serif;
    font-size: 20px;
    border: 1px solid #17821B;
    background-color: #17821B;
    text-align: center;
    border-radius: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
}
.password-loss{
    text-decoration: none;
    padding-top: 20px;
    color: black;
    font-weight: 600;
    font-family: 'Rasa' sans-serif;
}

.form-login-divisor{
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background-color: rgb(209, 209, 209);
    border: 0px;
}
.no-register-a-login{
    text-decoration: none;
    color: #17821B;
    font-weight: 600;
    width: 100%;
    padding-top: 20px;
}
.no-register-register{
    padding-top: 20px;
}
.no-register-a-register{
    text-decoration: none;
    color: #17821B;
    font-weight: 600;
    width: 100%;
    padding-top: 20px;
}