/*======================================*/
/*             ESTILOS BASE             */
/*======================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(var(--background));
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.btnForms{
    color: black;
    border: 1px solid black;
    width:100%;
    height: 30px;
    cursor: pointer;
    font-size: var(--font-medium);
    text-align: center;
}
.textareaForms{
    font-family: 'arial', Courier, monospace;
    resize: vertical;
    position: relative;
    min-height: 30px;
    padding: 5px 0px 0px 10px;
}

/*======================================*/
/*           ESTRUCTURA BASE            */
/*======================================*/
.layout {
    display: flex;  
    height: auto;
    width: 100%;
}
.dashboard-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.container-sidebar{
    flex: 0 0 250px;   /* sidebar fijo de 250px */
    min-width: 200px;  /* no se achica más de 200px */
    max-width: 300px;  /* no crece más de 300px */
    height: auto;
    display: flex; 
    border-right: 1px solid #e2e8f0;
    flex-direction: column;
    background-color: hsl(154 65% 25%);
}
.container-main{
    width: 100%;
    height: 100vh;
    display: flex; 
    border-top: 1px solid #e2e8f0;
    overflow: auto;
}
/*HEADER DE TABLA (Título + Icono)*/
#table-header {
    display: flex;
    gap: 20px;
    margin: 25px 50px;
    font-size: 24px;
}

#table-header i {
    color: var(--primary-color);
}

#table-list {
    font-size: var(--font-large);
}
.container-table {
    border: 1px solid #e2e8f0;
    border-radius: 20px;
    margin: 20px;
    height: auto;
}


/* ------------------------------
    TABLA BASE
--------------------------------*/
.table-container-table {
    border: 1px solid #e2e8f0;
    margin: 30px 50px;
    display: flex;
    height: auto;
}

.table {
    border-collapse: collapse;
    border-radius: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

/* ------------------------------
    FILAS Y COLUMNAS
--------------------------------*/
.table thead tr,
.table tbody tr {
    display: flex;
}

/* Encabezados */
.table th {
    flex: 1;
    padding: 0.8rem;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    color: #ffffff;
    background-color: hsl(154 65% 25%);
    border-right: 1px solid #e2e8f0;
    max-width: 350px;
}

/* Celdas */
.table td {
    flex: 1;
    padding: 0.8rem;
    font-size: 14px;
    text-align: start;
    vertical-align: middle;
    border-bottom: 1px solid #e2e8f0;
    align-content: center;
}

/* ------------------------------
    FILAS PARES / IMPARES
--------------------------------*/
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.table tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}
/*======================================*/
/*               SIDE BAR               */
/*======================================*/
.container-sidebar h1 {
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 20px 0;
    font-size: 1.4rem;
    color: white;
    border-bottom: 1px solid #e2e8f0;
}

.sidebar {
    height: 100%;
    display: flex;
    font-size: var(--font-medium);
}

.sidebar-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-between;
}

.sidebar-list li {
    margin: 0px 20px;
    border-radius: 10px;
}

.sidebar-list li a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 10px 20%;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-list li a:hover {
    background-color: #21c45d1a;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.li-list-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-options {
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.sidebar-list li a,
.sidebar-options,
.sidebar-options.active {
    border-radius: 10px;
}

.sidebar-options.active {
    background: white;
    font-weight: bold;
    color: var(--primary-color);
}

.li-list-logout {
    background: white;
}

.li-list-logout:hover {
    background-color: #B22222;
}

#logout {
    color: red;
}

#logout:hover, .li-list-logout:hover {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/*======================================*/
/*          CONTENIDO PRINCIPAL         */
/*======================================*/
.optContent {
    display: none;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.headerDashboard-title{
    padding: 25px 0 10px 30px;
    font-size: 2rem;
}

.headerDashboard-subtitle{
    padding: 0 0 0 30px;
    font-weight: normal;
    font-size: var(--font-medium);
    color: #969696;
}

.headerDashboard button{
    margin: 20px 20px 0 0;
    /*background-color: #36c96c;*/
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: var(--font-mediumSmall);
    cursor: pointer;
}

.headerDashboard i{
    margin-right: 8px;
}
/*-----------| ESTILOS VENTANA DE AGREGAR |-----------*/
.windowAdd{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    overflow:auto;
    
}

.windowAdd-content{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 25%;
    background-color: white;
    margin: 10px auto;
}
@media screen and (max-width: 1366px) {
    .windowAdd-content {
    margin-top: 100px;
    width: max-content;
    }
}
.windowAdd-content > h2{
    display: flex;
    margin-bottom: 20px;
    font-size: 1.5rem;
    align-items: flex-start;
    padding: 15px 0px;
}
.closeBtn{
    font-size: 1.8rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    align-items: flex-end;
    float: right;
}
.closeBtn:hover{
    color: red;
}
.btnSubmit{
    margin-top: 10px;
    background-color: #17821B;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    align-items: center;
}
/*-----------| ESTILOS DE BUSCADOR |-----------*/
.search-container{
    height: 70px;
    margin: 20px;
    display: flex;
    border: 1px solid #e2e8f0;
    border-radius: 20px;
    align-items: center;
}
.search-card{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 40%;
    height: 50%;
    border: 1px solid #e2e8f0;
    margin: 25px 0px 25px 25px;
}

.search-card input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
}
.search-card input:focus{
    outline: none;
}
.search-card i{
    margin: 10px;
    color:#64748b ;
}

.searchBTN-card{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px; 
    height: 50%;
    flex-direction: column;
}

/*======================================*/
/*          DASHBOARD PRINCIPAL         */
/*======================================*/

/* Contenedor principal del dashboard */
.dashboardMain {
    width: 100%;
}

/* ------------ TARJETAS DE RESUMEN ------------ */
.dashboard-summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.summary-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.summary-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.summary-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.summary-title {
    font-size: 0.85rem;
    color: #64748b;
    font-weight: bold;
    margin-bottom: 10px;
}

.summary-icon {
    border-radius: 9px;
    padding: 7px 10px;
}

/* Estilos específicos para íconos */
#ventas-hoy-icon {
    background-color: #dcfce7;
    color: #16a34a;
}

#pedidos-activos-icon {
    background-color: #dbeafe;
    color: #2563eb;
}

#reservas-hoy-icon {
    background-color: #f3e8ff;
    color: #9333ea;
}

#stock-bajo-icon {
    background-color: #fee2e2;
    color: #dc2626;
}

.summary-value {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000000;
}

.summary-card-footer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 20px;
}

.summary-footer-text {
    font-size: 1rem;
    border-radius: 200px;
    background-color: #dcfce7;
    color: #16a34a;
    padding: 8px 7px;
    text-align: center;
}
.i-card-footer{
    color: #16a34a;
}

/* ------------ GRÁFICAS ------------ */

.dashboard-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.chart-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.chart-title {
    font-size: 1rem;
    font-weight: bold;
    color: #64748b;
    margin-bottom: 20px;
}

#ventasChart, #platosChart {
    width: 100%;
    height: 90%;
    margin:20px;
}

/* ============================================= */
/*               DASHBOARD USUARIOS              */
/* ============================================= */


#addUserForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
}
#addUserForm input{
    height: 30px;
}
#addUserForm label{
    top: 2px;
    padding: 0px 5px;
}
#addUserForm input:focus + #addUserForm label{
    transform: translateY(-20px);
    color:#16a34a;
}
#addUserForm input:focus{
    border-color: #16a34a;
}

#role{
    padding:5px 5px;
}


/*-----------------DASHBOARD USUARIOS BUSCADOR----------------------*/

#searchButton-roles{
    height: 50%;
    width: 150px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 18px 15px;
    border-radius: 5px;
    font-size: var(--font-mediumSmall);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container-list-span{
    display: none;
    flex-direction: column;
    width: 150px;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.div-list-span{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap:5px;
    border: 1px solid #e2e8f0;
    z-index: 999;
    background-color: white;
    border-radius: 5px;
    top: 1;
    left: 0;
    right: 0;
}
.list-span{
    width: 150px;
    font-size: var(--font-mediumSmall);
    text-align: left;
    padding-left: 20%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-span:hover{ 
    background-color: var(--primary-color) ;
    color:white;
}
/*-----------------DASHBOARD USUARIOS CONTENEDOR TABLA----------------------*/

/* ------------------------------
    CONTENEDOR PRINCIPAL
--------------------------------*/



/*TABLA USUARIOS NOMBRE, EMAIL e IMG*/
.container-user{
    display: flex;
    flex-direction: row;
}
.container-user-image .container-user-info{
    background-color: red;
}
.container-user-info{
    margin: 10px;
    text-align: start;
}
.user-email-container{
    display: flex;
    gap: 5px;
    color: #969696;
}
.user-email-container i {
    font-size: 0.9rem;   /* igual que el texto */
    line-height: 1;      /* evita que quede desplazado */
    display: flex;
    align-items: end;
}
.user-name{
    font-size: var(--font-mediumSmall);
    color: #000000;
    font-weight: bold;
}
.user-email{
    font-size: var(--font-mediumSmall);
} 
.container-user-image img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(58, 145, 66, 0.1);
    margin: 10px;
    padding: 5px;
}
.container-user-role{
    display: flex;
    align-items: center;
}

.btnOptions{
    border: 1px solid #e2e8f0;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/*ROLES*/
/*[class^="rol-"] → Selecciona cualquier elemento cuya clase comience con rol-.
[class*=" rol-"] → Selecciona cualquier elemento que tenga rol- en medio de sus clases (por si hay más de una clase).*/
[class^="rol-"], [class*=" rol-"]{
    font-size: var(--font-mediumSmall);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    width:max-content;
}
/*ROL 1 - CLIENTE*/ 
.rol-cliente {
    color: #166534;
    background-color: #dcfce7;
}

/*ROL 2 - ADMINISTRADOR*/ 
.rol-admin {
    color: #991b1b;
    background-color: #fee2e2;
}

/*ROL 3 - MOZO*/ 
.rol-mozo {
    color: #1e3a8a;
    background-color: #dbeafe;
}

/*ROL 4 - COCINERO*/ 
.rol-cocinero {
    color: #c2410c;
    background-color: #ffedd5;
}

/*ROL 5 - GERENTE*/ 
.rol-gerente {
    color: #7c3aed;
    background-color: #ede9fe; 
}

/*ROL 6 - DELIVERY*/ 
.rol-delivery {
    color: #b45309;
    background-color: #fef3c7; 
}

/*-----------TABLA USUARIOS - OPCIONES------------- */
.optionsTableUsers-list {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 199;
    background-color: #fafafa;
    border: 1px solid #ccc;
}

.optionsTableUsers-list li {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    border-collapse: collapse;
}


/* ============ OPCION BORRAR USUARIO DE LA TABLAS ============ */
.delete-user {
    color: #FF7A7A; /* Rojo para eliminar */
}
.delete-user:hover {
    background-color: #DE0000; /* Fondo rojo claro al pasar el mouse */
    color: white;
}


/* ============ OPCION EDITAR USUARIO DE LA TABLA ============ */
.edit-user {
    color: #4CAF50; /* Verde para editar */
}
.edit-user:hover {
    background-color: #1DAB51; /* Fondo verde claro al pasar el mouse */
    color: white;
}
/*------------EDITAR USUARIO VENTANA ----------------*/
.modalEditUser{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    
}
.modalEditUser-content{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 25%;
    background-color: white;
    margin: 10px auto;
}
.modalEditUser-content > h2{
    display: flex;
    margin-bottom: 20px;
    font-size: 1.5rem;
    align-items: flex-start;
    padding: 15px 0px;
}
.closeEditUserBtn{
    font-size: 1.8rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    align-items: flex-end;
    float: right;
}
.closeEditUserBtn:hover{
    color: red;
}
#editUserForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
}
#editUserForm input{
    height: 30px;
}
#editUserForm label{
    top: 2px;
    padding: 0px 5px;
    font-size: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}
#editUserForm input:focus + #editUserForm label{
    transform: translateY(-20px);
    color:#16a34a;
}
#editUserForm input:focus{
    border-color: #16a34a;
}
#editRole{
    padding:5px 5px;
}
#btnEditSubmit{
    margin-top: 10px;
    background-color: #17821B;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    align-items: center;
}

/* ============ OPCION CAMBIAR CONTRASEÑA DEL USUARIO DE LA TABLA ============ */
.change-password {
    color: #FFA500; /* Naranja para cambiar contraseña */
}
.change-password:hover {
    background-color: #D98C16; /* Fondo naranja claro al pasar el mouse */
    color: white;
}
/*=======================================|DASHBOARD INGREDIENTES|==========================================================*/
/*-----------Modal Agregar Ingredientes---------------------*/
#ingredientModal-containerInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.ingredientModal-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ingredientModal-inputs label{
    font-weight: 500;
}
.ingredientModal-inputs input{
    height: 30px;
    padding-left: 10px;
}
.ingredientModal-inputs input:hover,.ingredientModal-inputs input:focus,
.ingredientModal-inputs textarea:hover, .ingredientModal-inputs textarea:focus , .ingredientModal-inputs textarea:active
.ingredientModal-inputs select:hover, .ingredientModal-inputs select:focus 
{
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 2px;
}
#ingredientModal-nameInputDiv, #ingredientModal-descriptionDiv{
    grid-column: 1 / span 2;
}
/*=======================================|DASHBOARD PRODUCTOS|==========================================================*/

/*-----------Modal Agregar Producto-------------------------*/
.productModal-imageInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

}
.productModal-imageInput img{
    width: 80px;
    height: 80px;
    flex-shrink: 0; /*El elemento no achica*/
}

#productModal-input{display: none;    } /*Oculto el input*/

#productModal-label{
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: var(--font-mediumSmall);
    cursor: pointer;
    margin-left: 20px;
    background-color: var(--primary-color);
    color:white;
}
#productModal-label:hover{
    background-color: var(--primary-color-hover);
}
/*-----------Modal Form Agregar Producto-------------------------*/

#productModal-containerInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;

}
#productModal-description, #productModal-ingredients{
    grid-column: 1 / span 2;
}
.productModal-inputs input{
    height: 30px;
}
#productModal-descriptionInput, #productModal-ingredientsInput{
    height: 100px;
}
.productModal-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

