<!DOCTYPE html>
<html lang="es" class="scrollbar-hide">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fory Factory | Iniciar Sesión</title>
    <meta charset="UTF-8" />
        <link rel="icon" href="../../../images/logo.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../../../resources/css/pages/auth.css" type="text/css">
        <link rel="stylesheet" href="../../../resources/css/components.css" type="text/css">
        <link rel="stylesheet" href="../../../resources/css/parts/nav.css" type="text/css">
        <link rel="stylesheet" href="../../../resources/css/parts/footer.css" type="text/css">
        <script src="https://kit.fontawesome.com/29724e3467.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Rasa:ital,wght@0,300..700;1,300..700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    </head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="../../../index.html">
                <div class="navbar-content">
                    <img src="../../../images/logo.jpg" alt="Logo" class="navbar-logo">
                    <h1 class="navbar-title">Fory Factory</h1>
                </div>
            </a>

            <ul class="navbar-menu">
                <li><a href="../../../index.html">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>

            <!-- Menú desplegable para móviles -->
            <div class="navbar-dropdown">
                <i class="fa-solid fa-bars fa-2xl" id="icon-menu"></i>

            </div>

            <div class="navbar-buttons">
                <a href="Login.html" id="navbar-btn-login">Iniciar Sesión</a>
                <a href="Register.html" class="boton-primario" id="navbar-btn-register">Crear Cuenta</a>
            </div>
        </nav>
    </header>
    

    <!---------------MAIN CONTENT-->
    <main>
        <div class="container-register">

        <section class="register-background">
        <img src="../../../images/bg/bg-register.jpg" alt="Fondo página registro." class="">
        </section>

        <form class="form-login" id="form-login" action="../../Functions/LoginController.php" method="POST">
            <div class="form-container-title">
                <h1 class="form-title">¡Bienvenido de nuevo!</h1>
                <p class="form-description">Inicia sesión en tu cuenta</p>
                <hr class="form-divisor">
<!-- 
                <div id="alert">
                    <h3>¡Éxito!</h3>
                    <p>Te has registrado correctamente. Porfavor inicia sesión abajo.</p>
                </div> -->

                <div class="form-container-login">
                    <label for="email">Dirección de correo electrónico</label>
                    <input type="email" id="email" name="email" class="input-forms-login" placeholder="example@gmail.com" autocomplete="email" required>

                    <label id="label_password" for="password">Contraseña</label>
                    <input type="password" id="password" name="password" autocomplete="password" class="input-forms-login" required>

                    <button type="submit" class="form-btn-submit-login">
                    Iniciar sesión
                    </button>

                    <a href="" class="password-loss">¿Haz olvidado tu contraseña?</a>
                    <hr class="form-login-divisor">


                    <label class="no-register-login">
                    No tienes una cuenta?
                        <a href="Register.html" class="no-register-a-login">Regístrate aquí</a>
                    </label>
                </div>
            </div>
            
        </form>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-main-content">

            <div class="footer-container1">
                <div class="footer-content-1">
                    <h4 class="footer-content1-h4">Fory Factory</h4>
                    <p id="footer-content1-description">Especialistas en fabricación de productos de alta calidad. Comprometidos con la excelencia y la innovación en cada proyecto.</p>
                </div>
            </div>

            <div class="footer-container2">
                <div class="footer-content-2">
                    <h4 class="footer-content2-h4">Atajos</h4>
                    <a class="footer-content2-a" href="/">Inicio</a>
                    <a class="footer-content2-a" href="/productos">Productos</a>
                    <a class="footer-content2-a" href="/sobre-nosotros">Sobre nosotros</a>
                </div>
            </div>
            
            <div class="footer-container3">
                <div class="footer-content-3">
                    <h4 class="footer-content3-h4">Contacto</h4>
                    <p class="footer-content3-a">contacto@foryfactory.com</p>
                    <p class="footer-content3-a">+598 99 999 999</p>
                    <p class="footer-content3-a">Av. Río Negro 1711, Ciudad de la costa</p>
                </div>
            </div>
        </div>
        <hr class="footer-divisor">

        <div class="footer-content4">
            <p id="footer-derechos" class="">© 2025 Fory Factory. Todos los derechos reservados.</p>
            <p id="footer-developedBy" class="">Desarrollado por TEN</p>
        </div>

    </footer>
    <script src="../../../resources/js/Auth/Login.js"></script>
</body>
</html>
