    <footer class="footer">
        <div class="footer-main-content">

            <div class="footer-container1">
                <div class="footer-content-1">
                    <h4 class="footer-content1-h4">Fory Factory</h4>
                    <p id="footer-content1-description">Especialistas en fabricación de productos de alta calidad. Comprometidos con la excelencia y la innovación en cada proyecto.</p>
                </div>
            </div>

            <div class="footer-container2">
                <div class="footer-content-2">
                    <h4 class="footer-content2-h4">Atajos</h4>
                    <a class="footer-content2-a" href="index.html">Inicio</a>
                    <a class="footer-content2-a" href="app/View/Products/products.html">Productos</a>
                    <a class="footer-content2-a" href="app/View/About/about.html">Sobre nosotros</a>
                </div>
            </div>
            
            <div class="footer-container3">
                <div class="footer-content-3">
                    <h4 class="footer-content3-h4">Contacto</h4>
                    <p id="footerEmail" class="footer-content3-a">contacto@foryfactory.com</p>
                    <p id="footerPhone" class="footer-content3-a">+598 99 999 999</p>
                    <p id="footerLocation" class="footer-content3-a">Av. Río Negro 1711, Ciudad de la costa</p>
                </div>
            </div>
        </div>
        <hr class="footer-divisor">

        <div class="footer-content4">
            <p id="footer-derechos" class="">© 2025 Fory Factory. Todos los derechos reservados.</p>
            <p id="footer-developedBy" class="">Desarrollado por TEN</p>
        </div>

    </footer>